@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&family=Poppins:wght@700&display=swap');



body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  transform-style: preserve-3d;

}

.green {
  background:none;
  font-family: 'orbitron';
  color: rgb(0, 255, 123);
  text-shadow:  0 0 10px rgb(0, 255, 123),
  0 0 50px rgb(0, 255, 123),
  0 0 60px #ffffff79,
  0 0 90px #3d3d3d5a;
}

.red {
  background:none;
  color: rgb(255, 0, 0);
  text-shadow:  0 0 10px rgb(255, 0, 0),
  0 0 60px #a20000c6,
  0 0 90px #4600005a;
  
}


h1 {
  background: none;
  font-family: orbitron;
  font-weight: 900;
  font-size: 40px;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
}

h1 span:first-child {
  background:none;
  font-size: 35px;
}

h1 span:last-child {
  background: none;
  font-size: 60px;
  margin-left: none;
  position: relative;
  top: -50px;
  left: 10px;
  text-shadow:  0 0 0px #ffffff,
  0 0 30px #ffffffb8,
  0 0 60px #78787879,
  0 0 90px #3d3d3d5a;
}

.candlesticks {
  height: 80px;
  margin-left: 20px;
  background: none;
}



.moon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  background: url(/images/moon.jpg);
  background-size: cover;
  background-repeat: repeat-x;
  border-radius: 50%;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 1), 0 0 110px #ffffffa0;
  animation: animateMoon 200s linear infinite;
}

@keyframes animateMoon {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: -4096px 0;
  }

}


.bg_container {
  background-color: black;
  height: 100vh;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 65%;
}

img {
  max-height: 45%;
  max-width: 45%;
}



.button-container {
  font-family: 'orbitron';
  color: white;
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
}

@media only screen and (max-width: 480px) {

  h1 span:first-child {
    font-size: 25px; /* Reduced from 35px */
  }

  h1 span:last-child {
    font-size: 50px; /* Reduced from 60px */
    margin-right: 25px;
    top: -50px;
    left: 0px;
  }

  
.candlesticks {
  height: 60px;
  width:50px;
  margin-left: 20px;
  margin-right: none;
  background: none;
}



  .moon {
    /* Changes position of the moon for mobile devices */
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px; 
  }
}


@media only screen and (max-width: 370px) {

  h1 span:first-child {
    font-size: 15px; /* Reduced from 35px */
  }

  h1 span:last-child {
    font-size: 35px; /* Reduced from 60px */
    margin-right: 25px;
    top: -50px;
    left: 0px;
  }

.candlesticks {
  height: 60px;
  width:50px;
  margin-left: 20px;
  margin-right: none;
  background: none;
}

  .moon {
    /* Changes position of the moon for mobile devices */
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px; 
  }
}

@media only screen and (max-width: 285px) and  (max-height:360px) {

  h1 span:first-child {
    font-size: 15px; /* Reduced from 35px */
  }

  h1 span:last-child {
    font-size: 30px; /* Reduced from 60px */
    margin-right: 25px;
    top: -50px;
    left: 0px;
  }

  
.candlesticks {
  height: 40px;
  width:50px;
  margin-left: 20px;
  margin-right: none;
  background: none;
}



  .moon {
    /* Changes position of the moon for mobile devices */
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px; 
  }
}