[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-environ = "*"
psycopg2-binary = "*"
pylint = "*"
djangorestframework = "*"
websocket-client = "*"
finnhub-python = "*"
apscheduler = "*"
pyjwt = "*"
django-cors-headers = "*"
python-dotenv = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.11"
