* {
  box-sizing: border-box;
  margin: none;
}


html, body {
  height: 100%;
}

.loginpage{
  display: flex;
  flex-direction: column;
  height: 100%;
  background: black;
}

.loginbg {
  flex-grow: 1;
  height: 100vh;

}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'orbitron';
  color: rgb(0, 0, 0);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logintitle {
  font-size: 30px;
  color: rgb(0, 255, 123);
  text-shadow: 0 0 5px rgb(0, 255, 123),
    0 0 20px #00ff7bb8,
    0 0 60px #3d3d3d5a;
}