* {
  box-sizing: border-box;
  margin: none;
  // background-color: black;
  // font-family: 'orbitron';
  // background: none;
}

.site-wrapper{
  height: 100vh;
}

label {
font-size: 13px;
color: white;
text-shadow:  0 0 2px #ffffff,
0 0 5px #ffffffb8,
}


.register_input {
  border:none;
  background-color:  #111C24;
  color: rgb(255, 255, 255) ;
  margin-bottom: 20px;
  }

.register_button{
  color: white;
  font-size: 13px;
  background: none;
  border: none;
  text-shadow:  
  0 0 2px #ffffff,
  0 0 5px #ffffffb8,
  }

.registerpage{
  display: flex;
  flex-direction: column;
  height: 100%;
  background: rgb(0, 0, 0);
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.title {
  font-size: 30px;
  color: rgb(255, 0, 0);
  text-shadow: 0 0 5px rgb(255, 0, 0),
    0 0 20px #d10000c6,
    0 0 60px #4401015a;
}