
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap');

.search_bar {
border:none;
}

.searchInput{
  border: none;
}

.buybutton, .sellbutton{
font-family: 'IBM Plex Sans';
background: none;
padding:none;
border:none;
margin:none;
}

.buybutton{
  background:none;
  color: rgb(0, 255, 123);
  text-shadow:  0 0 0px rgb(0, 255, 123),
  0 0 20px #3d3d3d5a;
}

.sellbutton{
  background:none;
  color: rgb(255, 0, 0);
  text-shadow:  0 0 0px rgb(255, 0, 0),
  0 0 20px #3d3d3d5a;
}



.tradetable {
  display: flex;
  background: none !important;
  border: 1px;
}

.table-wrapper {
  max-height: 500;
  overflow-y: scroll;

  margin: 0px;
}

table {
  font-family: 'IBM Plex Sans';
  border: 1px solid black;
  border-collapse: collapse;
  border-spacing: 0px;
}

tr{
color:white;
//height: 16px;
}


tr:nth-child(even) {
  background-color: #111C24;
}

tr:nth-child(odd) {
  background-color: #010101;
}

th {
  font-size: 12px;
  font-weight: 400;
  color: white;
  position: sticky;
  top: 0px;
  margin-top: 1px;
  padding:7px;
  background-color: #13161A;
}

td:first-child {
  padding-left: 5px;
  padding-right: -6px;
  margin-right: 2px;
}

td:nth-child(2) {
  padding:none
}

td:nth-child(3) {
  padding-left: 0px;
}

td:nth-child(4) {
  padding-left: 7px;
}

td:nth-child(5) {
  padding-left: 20px;
}

td:nth-child(6) {
  padding-left: 20px;
}

td:nth-child(7) {
  padding-right: 10x;
}

td {
  min-width: 80px;
  font-size: 12px;
  border-top: 0.5px solid black;
  border-bottom: 0.5px solid black;
  padding-top:1px;
  padding-bottom:1px;
}


.modal{
  background-color: white;

  
}

//scroll bar 

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #333;
  height:5px;
}

::-webkit-scrollbar-track {
  background-color: #000;
}

