.hero {
  position: fixed;
  left: 0;
  right: 0;
  background-color:#111C24;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  z-index: 1; 

  h1 {
    margin: 0;
    font-size: 24px;
    color: white;
  }
}

.logoutbutton {
  background: url(../../../images/logsign.png);
  cursor: pointer;
  border: none;
}

.timezoneInfo {
  position: fixed; 
  top: 70px; 
  left: 0;
  right: 0;
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  padding:none;
  z-index: 2; 

}

h2 {
  color: rgb(255, 234, 0);
  text-shadow: 0 0 5px  rgb(255, 208, 0),
  0 0 60px #ffffff79;
  font-family: 'orbitron' !important;
  font-size: 15px;
  text-transform: uppercase;
  white-space: nowrap;
  padding: 0 6rem;
  letter-spacing: 1px;
  animation: move-rtl 20000ms linear infinite;
}

@keyframes move-rtl {
0%{
  transform: translateX(0);
}
100%{
  transform: translateX(-100%);
}

}


.background {
  background:rgb(0, 0, 0);
  z-index: 0;
}

.background {
  width:100vw;
  display: flex;
  flex-direction: row;
}

.tradetabledefaultpage {
  background: none !important;
  border: 1px;
  
  margin-bottom:23%;
  margin-right: 5px;
}

.assettabledefaultpage {
  background: none !important;
  border: 1px;
  margin-bottom: 25%;
  
}


@media screen and (min-width: 480px) and (max-width: 1030px) {
  /* CSS rules for tablets */

  .background {
    flex-direction: column;
  }
  
  .tradetabledefaultpage,
  .assettabledefaultpage {
    margin: 20px;
    max-width: 100vw;
  }
  
  table {
    font-size: 14px;
  }



}



@media (max-width: 480px) {
  // for mobile 
  .background {
    flex-direction: column;
  }
  
  .tradetabledefaultpage,
  .assettabledefaultpage {
    margin: 20px;
    max-width: 100vw;
  }
  
  table {
    font-size: 10px;
  }
}
