.background {
  background:rgb(0, 0, 0);
}

.background {
  width:100vw;
  display: flex;
  flex-direction: row;
}

.tradetabledefaultpage {
  background: none !important;
  border: 1px;
  margin-right: 5px;
}

.assettabledefaultpage {
  background: none !important;
  border: 1px;
  margin-top: 20px;
}
